@font-face {
  font-family: 'GothamHTFBook';
  src: url("fonts/GothamHTFBook.eot");
  src: url("fonts/GothamHTFBook.eot") format("embedded-opentype"), url("fonts/GothamHTFBook.woff2") format("woff2"), url("fonts/GothamHTFBook.woff") format("woff"), url("fonts/GothamHTFBook.ttf") format("truetype"), url("fonts/GothamHTFBook.svg#GothamHTFBook") format("svg");
}
